.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-bar {
  font-family: "Jua", sans-serif;
  color: rgb(46, 46, 46);
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 14px;
    padding: 14px;
    background-color: rgb(163, 163, 163);
    border-radius: 4px;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7rem;
    font-family: "Jua", sans-serif;
    border: none;
    border-radius: 4px;
    outline: none;

    cursor: pointer;
  }

  .nought {
    color: hsl(10, 90%, 55%);
  }
  .cross {
    color: hsl(216,90%, 55%);
  }