.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turn {
  font-family: "Jua", sans-serif;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 8px solid grey;
    gap: 12px;
    padding: 12px;
    background-color: darkgrey;
    border-radius: 32px;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6rem;
    font-family: "Jua", sans-serif;
    border: 8px solid grey;
    border-radius: 32px;
    background: white;
    cursor: pointer;
  }

  .nought {
    color: hsl(10, 90%, 55%);
  }
  .cross {
    color: hsl(216,90%, 55%);
  }